La última mantención de la máquina {{ equipo_denom }} se realizó en la semana {{ semana_nro }} de {{ anio }} (fecha programada {{ inicio_programado }}) mediante la orden de trabajo {{ orden_nro }} ("{{ ot_texto_breve }}"). Horas-hombre reales utilizadas: {{ hh_reales }}. Responsable: {{ responsable_nombre }}.
