La orden de trabajo {{ orden_nro }} sobre la máquina {{ equipo_denom }} ("{{ ot_texto_breve }}") originalmente programada para {{ fecha_original }} no se ejecutó por motivo "{{ motivo_no_ejecucion }}" y fue reprogramada para {{ fecha_reprogramacion }}.
