La planta con los puntos de medición más altos es {{ planta_canon }}, con un promedio de {{ promedio_mg_m3 }} mg/m³ de polvo respirable sobre {{ n_mediciones }} mediciones. Su valor pico fue {{ pico_mg_m3 }} mg/m³. Ámbito: {{ ambito }}.
