La planta {{ planta_canon }} registró un promedio de {{ promedio_mg_m3 }} mg/m³ de polvo respirable a partir de {{ n_mediciones }} mediciones. El valor máximo observado fue {{ maximo_mg_m3 }} mg/m³ y el mínimo {{ minimo_mg_m3 }} mg/m³. Ámbito: {{ ambito }}.
