La planta con los puntos de medición más bajos es {{ planta_canon }}, con un promedio de {{ promedio_mg_m3 }} mg/m³ de polvo respirable sobre {{ n_mediciones }} mediciones. Su valor mínimo fue {{ minimo_mg_m3 }} mg/m³. Ámbito: {{ ambito }}.
